* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.cont-R-main {
    position: relative;
}

.cont-R {

    right: 0%;
    left: 0%;

    top: -50%;
    position: absolute;
}

.bg-div {
    z-index: -1;
    top: 100px;
    left: 200px;
    height: 300px;
    border-radius: 40px 0px 40px 0px;
    width: 400px !important;
    background-color: #005471;
}

.cont-R img {
    width: 600px;
}

/* ==================================================== */
/* CONACT MAIN 2 */
.conact2-main {
    margin-top: 150px;
}





.map {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}



@media screen and (max-width:767px) {
    .cont-R img {
        position: inherit;
        top: -32px !important;
        width: 200px;
        left: -15% !important;
        /* background-color: red; */
    }

    .map-main-daiv {
        height: 15px !important;
        margin-bottom: 600px;
    }

    .map-inner {
        /* height: 150px !important; */
        /* width: 70% !important; */
    }

    .bg-div {
        z-index: -1;
        top: 0px;
        /* right: 10% !important; */
        left: 0% !important;
        height: 100px;
        border-radius: 40px 0px 40px 0px;
        width: 100% !important;
        background-color: #005471;
    }
}